       @media only screen and (max-width: 374px) and (min-width: 320px) {
           .logo {
               display: none;
           }

           .top-navbar .tagline h3 {
               font-size: 17px;
               text-align: center;
           }

           .main_logo {
               display: block;
           }


           .antifoam-defoamers-product-finder-left-side {
               font-size: 14px;
           }

           .antifoam-defoamers-product-finder-right-side .search-icon-container {
               padding: 8px;
           }

           .antifoam-defoamers-product-finder-right-side .search-icon-container i {
               font-size: 14px;
           }

           .antifoam-defoamers-details-right-side {
               display: flex;
               flex-direction: column;
           }


           .antifoam-defoamers-details-left-side-content h1 {
               font-size: 1.5em;
           }

           .antifoam-defoamers-details-left-side-content p {
               font-size: 0.9em;
           }

           .antifoam-defoamers-details-left-side-content ul {
               padding-left: 20px;
           }

           .antifoam-defoamers-details-right-side img {
               margin-top: 10px;
               width: 296px;
               height: auto;
           }

           /* 
           .antifoam-defoamers-details-left-side img {
               max-width: 100% !important;
               height: auto;
           } */

       }

       @media only screen and (max-width: 424px) and (min-width: 375px) {
           .logo {
               display: none;
           }

           .top-navbar .tagline h3 {
               font-size: 20px;
           }

           .main_logo {
               display: block;
           }

           .antifoam-defoamers-details-right-side .contact-information h3 {
               font-size: 20px;
               font-weight: 700;
               color: var(--black-color);
           }

           .antifoam-defoamers-details-right-side {
               margin-top: 20px;
           }

           .antifoam-defoamers-details-right-side .contact-information p {
               font-size: 18px;
               font-weight: 500;
               color: var(--primary-color);
           }

           .antifoam-defoamers-details-right-side {
               display: flex;
               flex-direction: column;
           }
           .antifoam-defoamers-details-right-side img {
               width: 352px;
               height: auto;
           }
       }

       @media only screen and (max-width: 767px) and (min-width: 425px) {

           .logo {
               display: none;
           }

           .top-navbar .tagline h3 {
               font-size: 23px;
           }

           .main_logo {
               display: block;
           }

           .antifoam-defoamers-details-right-side {
               margin-top: 20px;
           }

           .antifoam-defoamers-details-right-side .contact-information p {
               font-size: 15px;
               font-weight: 500;
               color: var(--primary-color);
           }
       }

       @media only screen and (max-width: 1198px) and (min-width: 768px) {
           .logo {
               display: none;
           }

           .top-navbar .tagline h3 {
               font-size: 45px;
           }

           .main_logo {
               display: block;
           }
       }

       @media only screen and (max-width: 1199px) and (min-width: 992px) {
           .main-navbar ul {
               justify-content: space-between;
           }

           .main-navbar ul li a {
               font-size: 18px;
           }
       }

       @media only screen and (max-width: 1399px) and (min-width: 1200px) {
           .main-navbar ul li a {
               font-size: 18px;
               padding: 12px 15px;
           }
       }